@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e3f2fd;
  overflow-x: hidden;
  background-image: url(https://static.vecteezy.com/system/resources/previews/008/147/150/non_2x/seamless-pattern-with-black-musical-notes-on-white-background-backdrop-illustration-hand-drawn-in-doodle-style-vector.jpg);
}

.wrapper {
  padding: 35px 40px;
  border-radius: 20px;
  background: #141414;
  /* max-width: 100%; */
}

.wrapper header {
  display: flex;
  color: #b2b2b2;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

header h2 {
  font-size: 1.8rem;
  color: #fff;
}

header .column {
  display: flex;
  align-items: center;
}

header span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.2rem;
}

header input {
  outline: none;
  border-radius: 30px;
}

.volume-slider input {
  accent-color: #fff;
}

.piano-keys {
  display: flex;
  list-style: none;
  margin-top: 40px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
}

.piano-keys .key {
  cursor: pointer;
  user-select: none;
  position: relative;
  text-transform: uppercase;
  transition: transform 0.1s ease;
}

.piano-keys .key:active {
  transform: scale(0.98);
}

.piano-keys .black {
  z-index: 2;
  width: 44px;
  height: 140px;
  margin: 0 -22px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
}

.piano-keys .black.active {
  box-shadow: inset -5px -10px 10px rgba(255, 255, 255, 0.1);
  background: linear-gradient(to bottom, #000, #434343);
}

.piano-keys .white {
  height: 230px;
  width: 70px;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .white.active {
  box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
}

/* Tablet Responsive */
@media screen and (max-width: 815px) {
  .wrapper {
    padding: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: center;
  }

  .volume-slider input {
    max-width: 100px;
  }

  .piano-keys {
    margin-top: 20px;
  }

  .piano-keys .key:where(:nth-child(9), :nth-child(10)) {
    display: none;
  }

  .piano-keys .black {
    height: 100px;
    width: 40px;
    margin: 0 -20px;
  }

  .piano-keys .white {
    height: 180px;
    width: 60px;
  }
}

/* Mobile Responsive */
@media screen and (max-width: 615px) {
  .piano-keys .white {
    width: 50px;
  }

  header h2 {
    font-size: 1.5rem;
  }

  header span {
    font-size: 1rem;
  }
}
